<!DOCTYPE html>
<html>
<head>
	<title>Google</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="E:\google search engine\static\css\style.css">
</head>
<body>
<div class="div-1">
	
	<button type="button"><i class="fas fa-ellipsis-v fa-lg"></i></button>
	<button type="button"><i class="fas fa-ellipsis-v fa-lg"></i></button>
	<button type="button"><i class="fas fa-ellipsis-v fa-lg"></i></button>
	
	<a href="#">image</a>
	<a href="#">gmail</a>
	
</div>
<div class="search">
	<form>
		<img src="google.png">
		<input type="search" name="search"/>
		<button class="icon" type="button"><i class="fa fa-microphone fa-lg" aria-hidden="true" color:rgb(150,0,0,0.2)></i></button>
	</form>	
</div>
<div class="tonr">
	<a class="god" href="file:///E:/google%20search%20engine/result/template/index1.html#">Google search</a>
	<a class="god" href="#">I' felling lucky</a>
	
</div>
<div class="hello">
<footer ><hr class="hr"></footer>
</div>
</body>
</html>



