img{
	position: absolute;
	top: 35px;
	left: 40px;
}

input{
	position: absolute;
	left: 190px;
	top: 30px;
	width: 600px;
	height: 40px;
	border:solid 1px #a2a9b5;
	border-radius: 16px;
	padding-right: 100px;
	cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding-left: 20px;


}
input:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: solid 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
	position: absolute;
	top: 27px;
	left: 752px;
}
#icon{
	color: blue;
}
#icon1{
	position: absolute;
	top: 27px;
	left: 730px;
}
hr{
	position: relative;
	top: 100px;

}
.list{
	position: absolute;
	top: 85px;
	left: 200px;
	padding-right: 10px;
}
a{
	color: #a2a9b5;
	padding-right: 8px;
	padding-bottom: 2px; 
	text-decoration: none;
}
.on{
	border-bottom:solid 5px #4583e8;
	padding-left: 3px;
	color: #4583e8;
}
.pagination{
	color: blue;
	position: absolute;
	top: 1000px;
	left: 500px;
}
.tono{
	color: blue;
}
.atr{
	position: absolute;
	top: 100px;
	left: 200px;
	color: blue;
	padding-right: 600px;
}
h1{
	font-weight: lighter;
	font-family: "Times New Roman", Times, serif;
}
.green{
	color: green;
	position: absolute;
	top: 45px;
	left: 5px; 
}
.green1{
	color: green;
	position: absolute;
	top: 160px;
	left: 5px;
}
.green2{
	color: green;
	position: absolute;
	top: 275px;
	left: 5px;
}
.green3{
	color: green;
	position: absolute;
	top: 390px;
	left: 5px;
}
.green4{
	color: green;
	position: absolute;
	top: 505px;
	left: 5px;

}
.green:hover{
	text-decoration: underline;
}
.green1:hover{
	text-decoration: underline;
}
.green2:hover{
	text-decoration: underline;
}
.green3:hover{
	text-decoration: underline;
}
.green4:hover{
	text-decoration: underline;
}
.ty{
	position: absolute;
	top: 700px;
	left: 200px;
}
.ho{
	color: blue;
	position: absolute;
	top: 750px;
	left: 160px;
	color: blue;

}
ul{
	display: inline-table;
	list-style: none;
	color: blue;
}
ul:hover{
	text-decoration: underline;
}
.loct{
	width: 100%;

	position: absolute;
	top: 1100px;
	
	background-color: #bac4b8;
}
.bod{
	position: relative;
	left: 10px;
}
.uot{
	
	background-color: purple;
	border-color: rgb(0,0,0,0);
	border-radius: 42px;
	width: 30px;
	height: 30px;
	
	position: absolute;
	right: 5pc;
	top: 2pc;
}
.gof{
	position: absolute;
	top: 1px;
	right: 50pc;
}
h1:hover{
	text-decoration: underline;
}






















